@use 'colors' as c;
@use 'breakpoints' as bp;

.home-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  height: 100vh;

  .home-header-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    word-wrap: break-word;
  }

  .sub-title {
    padding: 1.4rem;
    font-weight: normal;
    font-style: italic;
    color: c.$anti-flash-white;
    font-size: 20px;

    max-width: 40rem;
    text-align: center;
  }


  .home-header-emojis {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
  }

  .home-header-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    color: white;
    border-radius: 3rem;
    padding: 0.2rem 2rem;
    background: hsla(223, 11%, 84%, 1);

    > * {
      margin: 0rem 1.4rem;
      color: c.$raisin-black;
    }
  }
}

// xx small handset
@media screen and (max-width: 379px) and (orientation: portrait), (max-width: 700px) and (orientation: landscape) {
  .home-header {
    padding: 1rem;
  }
}

// larger portrait screens or landscape screens
// flex as centered row
@media screen and (min-width: 600px) and (orientation: portrait), (orientation: landscape) {
  .home-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

// non-mbile
@media screen and (min-width: 600px) and (orientation: portrait), (min-width: 960px) and (orientation: landscape) {
  .home-header {
    height: unset;
  }
}
