/* Background colors */
$true-blue: hsla(210, 96%, 40%, 1);
$usafa-blue: hsla(210, 96%, 33%, 1);
$dark-cornflower-blue: hsla(211, 97%, 25%, 1);
$oxford-blue: hsla(212, 100%, 17%, 1);
$oxford-blue-2: hsla(219, 100%, 14%, 1);
$oxford-blue-3: hsla(219, 100%, 10%, 1);
$independence-light: hsla(220, 29%, 21%, 1);
$independence: hsla(220, 29%, 28%, 1);
$black-coral: hsla(220, 15%, 43%, 1);
$roman-silver: hsla(222, 11%, 54%, 1);
$manatee: hsla(223, 11%, 63%, 1);

// /* SCSS HEX */
// $true-blue: #0466c8ff;
// $usafa-blue: #0353a4ff;
// $dark-cornflower-blue: #023e7dff;
// $oxford-blue: #002855ff;
// $oxford-blue-2: #001845ff;
// $oxford-blue-3: #001233ff;
// $independence: #33415cff;
// $black-coral: #5c677dff;
// $roman-silver: #7d8597ff;
// $manatee: #979dacff;

/* Foreground colors */
$light-pink: hsla(0, 100%, 84%, 1);
$deep-champagne: hsla(33, 100%, 82%, 1);
$lemon-yellow-crayola: hsla(62, 100%, 86%, 1);
$tea-green: hsla(110, 100%, 87%, 1);
$electric-blue: hsla(185, 100%, 80%, 1);
$baby-blue-eyes: hsla(217, 100%, 81%, 1);
$maximum-blurple: hsla(249, 100%, 85%, 1);
$mauve: hsla(300, 100%, 89%, 1);
$baby-powder: hsla(60, 100%, 99%, 1);

$electric-blue2: hsla(179, 78%, 75%, 1);
$mimi-pink: hsla(345, 100%, 92%, 1);
$green-yellow-crayola: hsla(50, 100%, 81%, 1);
$mint-green: hsla(100, 92%, 81%, 1);
$light-green: hsla(143, 81%, 71%, 1);


$green-yellow-crayola: hsla(50, 100%, 81%, 1);

/* Grays and whites */
$anti-flash-white: #F1F3F4;
$platinum: #DEE1E6;
$granite-gray: #5F6368;
$davys-grey: #535353;
$raisin-black: #202124;

// hsla(223, 11%, 84%, 1)

// hsl(33deg, 100%, 82%)
