@use 'colors' as c;

*,
*::before,
*::after {
  // margin: 0;
  // padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.4rem;
}

html,
body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased; /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale; /* Firefox */
  font-weight: 400;
  line-height: 1.5;
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;
  color: c.$anti-flash-white;
}

a {
  color: inherit;
  text-decoration: none;
}


// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     color: white;
//     background: black;
//   }
// }

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: c.$black-coral;
}

::-webkit-scrollbar-thumb {
  background: hsla(223, 11%, 85%, 1);
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background:  c.$black-coral;
}
